<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Footer ================================================================== -->
<div  id="footerSection" th:fragment="footer">
    <div class="container">
        <div class="row">
            <!---
            <div class="span3">
                <!––  Replace
                h5>ACCOUNT</h5>
                a href="login">YOUR ACCOUNT</a>
                a href="login">PERSONAL INFORMATION</a>
                a href="login">ADDRESSES</a>
                a href="login">DISCOUNT</a>
                a href="login">ORDER HISTORY</a>
                ––>
            </div>--->
            <div class="span3 pull-left">
                <h5>INFORMATION</h5>
                <a href="register" th:href="@{'/register'}">REGISTER</a>
                <a href="faq" th:href="@{'/faq'}">FAQ</a>
                <a href="contact" th:href="@{'/contact'}">CONTACT US</a>
            </div>
            <div class="span3 pull-left">
                <h5>LEGAL</h5>
                <a href="legal_notice" th:href="@{'/legal_notice'}">LEGAL NOTICE</a>
                <a href="tac" th:href="@{'/tac'}">TERMS AND CONDITIONS</a>
                <a href="tac" th:href="@{'/privacy'}">PRIVACY POLICY</a>
            </div>
            <div class="span2 pull-left">
                <h5>OUR OFFERS</h5>
                <a href="#" th:href="@{'/products/5'}">NEW PRODUCTS</a>
                <a href="#" th:href="@{'/topsellers'}">TOP SELLERS</a>
                <a href="../special_offer" th:href="@{'/products/special_offer/3'}">SPECIAL OFFERS</a>

            </div>

            <div id="socialMedia" class="span4 pull-right">
                <h5>SOCIAL MEDIA </h5>
                <a th:href="@{'https://www.facebook.com/lifo.astv.9'}" th:target="_blank"><img width="60" height="60" src="/images/facebook.png" title="facebook" alt="facebook"/></a>
                <a th:href="@{'https://twitter.com/LIFO57688434'}" th:target="_blank"><img width="60" height="60" src="/images/twitter.png" title="twitter" alt="twitter"/></a>
                <a th:href="@{'https://www.instagram.com/lifoastv/'}" th:target="_blank"><img width="60" height="60" src="/images/instagram.png" title="instagram" alt="instagram"/></a>
                <a th:href="@{'/#'}"><img width="60" height="60" src="/images/lifo_rlogo.png" title="lifo" alt="lifo round"/></a>

            </div>

        </div>
        <br/>
        <div  class="row">
            <div class="span12 pull-left">
            <strong>Team Latest In First Out (LIFO) - Michael, Andre, Erick, Zenetta - BCS430W Capstone &copy; 2019 </strong>
            </div>
        </div>
    </div><!-- Container End -->
</div>

