<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Navigation section start ====================================================================== -->
    <div id="header" th:fragment="navigation">
            <div class="container">
                <div id="welcomeLine" class="row">
                    <div class="span6">Welcome! <strong th:text="${LoginForm?.getUserName()}"> Guest</strong></div>
                    <div class="span6">
                        <div class="pull-right">
                            <span class="btn btn-mini" th:text="${carttotal}">$0.00</span>
                            <a href="product_summary" th:href="@{'/cart/5/5/d'}">
                            <span  class="btn btn-mini btn-primary" th:text="${'['+cartsize+']' + ' Items in your cart'}">
                            <i class="icon-shopping-cart icon-white" ></i> cart Items</span> </a>
                        </div>
                    </div>
                </div>
                <!-- Navbar ================================================== -->
                <div id="logoArea" class="navbar">
                    <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-inner">
                        <a class="brand" href="/products"  th:href="@{'/index'}"><img src="/images/logo.png" alt="Bootsshop"/></a>
                        <form class="form-inline navbar-search" method="post" th:action="@{'/products/'}">
                            <input id="srchFld" class="srchTxt" type="text" />
                            <select class="srchTxt">
                                <option th:value="${'/products/0'}" th:href="@{'/products/0'}">ACCESSORIES </option>
                                <option th:value="${'/products/1'}" th:href="@{'/products/1'}">APPLIANCES </option>
                                <option th:value="${'/products/2'}" th:href="@{'/products/2'}">CLEANING </option>
                                <option th:value="${'/products/3'}" th:href="@{'/products/3'}">HARDWARE </option>
                                <option th:value="${'/products/4'}" th:href="@{'/products/4'}">HEATH & BEAUTY </option>
                                <option th:value="${'/products/5'}" th:href="@{'/products/5'}">HOMEWARES </option>
                                <option th:value="${'/products/6'}" th:href="@{'/products/6'}">TOYS </option>
                            </select>
                            <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                        </form>
                        <ul id="topMenu" class="nav pull-right">
                            <li class=""><a href="index"  th:href="@{'/index'}">Home</a></li>
                            <li class=""><a href="special_offer"  th:href="@{'/special_offer'}">Specials Offers</a></li>
                            <li class=""><a href="contact" th:href="@{'/contact'}">Contact</a></li>
                            <li class=""><a href="register" th:href="@{'/register'}">Register</a></li>
                            <li class="">
                                <a href="#login" th:href="@{'/login'}" role="button" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
    </div>
    <!-- Navigation section end ====================================================================== -->



</div>

</html>