<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >

</head>
<body>

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3" th:fragment="sidebar2">
    <div class="well well-small"><a id="myCart" href="product_summary"><img src="/images/ico-cart.png" alt="cart">0 Items in your cart  <span class="badge badge-warning pull-right">$0.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open"><a> ELECTRONICS</a>
            <ul>
                <li><a id="ref1" class="active"></a><a class="active" href="javascript:;"><i class="icon-chevron-right"></i>Cameras</a></li>
                <li><a id="ref2" href="javascript:;"><i class="icon-chevron-right"></i>Computers, Tablets & laptop</a></li>
                <li><a id="ref3" href="javascript:;"><i class="icon-chevron-right"></i>Mobile Phone</a></li>
                <li><a id="ref4" href="javascript:;"><i class="icon-chevron-right"></i>Sound & Vision</a></li>
            </ul>
        </li>
        <li class="subMenu"><a> CLOTHES</a>
            <ul style="display:none">
                <li><a id="ref5" href="javascript:;"><i class="icon-chevron-right"></i>Women's Clothing</a></li>
                <li><a id="ref6" href="javascript:;"><i class="icon-chevron-right"></i>Women's Shoes</a></li>
                <li><a id="ref7" href="javascript:;"><i class="icon-chevron-right"></i>Women's Hand Bags</a></li>
                <li><a id="ref8" href="javascript:;"><i class="icon-chevron-right"></i>Men's Clothings</a></li>
                <li><a id="ref9" href="javascript:;"><i class="icon-chevron-right"></i>Men's Shoes</a></li>
                <li><a id="ref10" href="javascript:;"><i class="icon-chevron-right"></i>Kids Clothing</a></li>
                <li><a id="ref11" href="javascript:;"><i class="icon-chevron-right"></i>Kids Shoes</a></li>
            </ul>
        </li>
        <li class="subMenu"><a>FOOD AND BEVERAGES</a>
            <ul style="display:none">
                <li><a id="ref12" href="javascript:;"><i class="icon-chevron-right"></i>Angoves</a></li>
                <li><a id="ref13 "href="javascript:;"><i class="icon-chevron-right"></i>Bouchard Aine & Fils</a></li>
                <li><a id="ref14" href="javascript:;"><i class="icon-chevron-right"></i>French Rabbit</a></li>
                <li><a id="ref15" href="javascript:;"><i class="icon-chevron-right"></i>Louis Bernard</a></li>
                <li><a id="ref16" href="javascript:;"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box)</a></li>
                <li><a id="ref17" href="javascript:;"><i class="icon-chevron-right"></i>Other Liquors & Wine</a></li>
                <li><a id="ref18" href="javascript:;"><i class="icon-chevron-right"></i>Garden</a></li>
                <li><a id="ref19" href="javascript:;"><i class="icon-chevron-right"></i>Khao Shong</a></li>
            </ul>
        </li>
        <li><a id="ref20" href="javascript:;">HEALTH & BEAUTY</a></li>
        <li><a id="ref21" href="javascript:;">SPORTS & LEISURE</a></li>
        <li><a id="ref22" href="javascript:;">BOOKS & ENTERTAINMENTS</a></li>
    </ul>
    <br/>
    <div class="thumbnail">
        <img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>
<!-- Sidebar end=============================================== -->


</body>
</html>