<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >

</head>
<body>

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3" th:fragment="sidebar">
    <div class="well well-small"><a id="myCart" href="product_summary"><img src="/images/ico-cart.png" alt="cart">0 Items in your cart  <span class="badge badge-warning pull-right">$0.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open"><a> ACCESSORIES</a>
            <ul>
                <li><a class="active"></a><a class="active" href="products"><i class="icon-chevron-right"></i>Bark off</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Clever Grip</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Tiddy Bear</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Remote Control Caddy</a></li>
            </ul>
        </li>
        <li class="subMenu"><a> APPLIANCES</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>Crosswave</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Portable AC</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Magic Bullet</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Shark Steam Mop</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>The Clapper</a></li>
            </ul>
        </li>
        <li class="subMenu"><a> CLEANING</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>Kaboom Foam Tastic</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>OxiClean</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Roto Sweep</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Sani Sticks</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Scrub Daddy</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Shamwow!</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>True Touch</a></li>
            </ul>
        </li>
        <li class="subMenu"><a>HARDWARE</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>Flex Tape</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Hercules Hooks</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Mighty Putty</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Pop-it 4 tier</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Pressure Joe</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Rodent Sheriff</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Zapp Light</a></li>
            </ul>
        </li>
        <li class="subMenu"><a href="products">HEALTH & BEAUTY</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>Bowflex</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>GLH Hair System</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Hawaii Chair</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>InStyler Max 2</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Kush</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Rejuvenique Electic Facial</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Shake Weight</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Sweatin' to the Oldies</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>ThighMaster</a></li>
            </ul>
        </li>
        <li class="subMenu"><a href="products">HOMEWARES</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>George Forman Grill</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Ginsu Knives</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Slap Chop</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Chia Pet</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Energizer 10pc Solar</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>ShoeDini</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Snuggie</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Tub Shroom</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Wearable Towel</a></li>
            </ul>
        </li>
        <li class="subMenu"><a href="products">TOYS</a>
            <ul style="display:none">
                <li><a href="products"><i class="icon-chevron-right"></i>Bendaroos</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Floam</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Fushigi</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Magic Sand</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Moon Sand</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Pillow Pets</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Potty Putter</a></li>
                <li><a href="products"><i class="icon-chevron-right"></i>Zhu Zhu Pets</a></li>
            </ul>
        </li>

    </ul>
    <br/>
    <div class="thumbnail">
        <img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="products"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="products"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>
<!-- Sidebar end=============================================== -->

</body>
</html>