<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../static/css/base.css"
          th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>
    <!-- Bootstrap style responsive -->
    <link href="../../static/css/bootstrap-responsive.min.css"
          th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
    <link href="../../static/css/font-awesome.css"
          th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3" th:fragment="sidebar">
    <div class="well well-small"><a id="myCart" href="product_summary" th:href="@{'/product_summary'}">
        <img src="/images/ico-cart.png" th:text="${cartsize}"  alt="cart"> Items in your cart <span class="badge badge-warning pull-right" th:text="${carttotal}"></span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open"><a> ELECTRONICS</a>
            <ul>
                <li><a id="ref1" class="active"></a><a class="active" th:href="@{'/products/0'}" ><i class="icon-chevron-right"></i>Cameras</a></li>
                <li><a id="ref2" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Computers, Tablets & laptop</a></li>
                <li><a th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>Mobile Phone</a></li>
                <li><a href="product_details" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Sound & Vision</a></li>
            </ul>
        </li>
        <li class="subMenu open"><a> ACCESSORIES</a>
            <ul>
                <li><a class="active"></a><a class="active" href="product_details" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Cameras</a></li>
                <li><a href="product_details" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>Computers, Tablets & laptop</a></li>
                <li><a href="product_details" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Mobile Phone</a></li>
                <li><a href="product_details" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>Sound & Vision</a></li>
                <li><a class="active"></a><a class="active" href="products" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Bark off</a></li>
                <li><a href="products" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>Clever Grip</a></li>
                <li><a href="products" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Tiddy Bear</a></li>
                <li><a href="products" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Remote Control Caddy</a></li>
            </ul>
        </li>
        <li class="subMenu"><a> APPLIANCES</a>
            <ul style="display:none">
                <li><a href="products" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>Crosswave</a></li>
                <li><a href="products" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Portable AC</a></li>
                <li><a href="products" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>Magic Bullet</a></li>
                <li><a href="products" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Shark Steam Mop</a></li>
                <li><a href="products" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>The Clapper</a></li>
            </ul>
        </li>
        <li><a href="product_details" th:href="@{'/products/0'}">CLEANING</a></li>
        <li class="subMenu">
            <ul style="display:none">
                <li><a href="product_details" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Angoves</a></li>
                <li><a href="product_details" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Bouchard Aine & Fils</a></li>
                <li><a href="product_details" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>French Rabbit</a></li>
                <li><a href="product_details" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Louis Bernard</a></li>
                <li><a href="product_details" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box)</a></li>
                <li><a href="product_details" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Other Liquors & Wine</a></li>
                <li><a href="product_details" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>Garden</a></li>
                <li><a href="product_details" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Khao Shong</a></li>
                <li><a href="products" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Kaboom Foam Tastic</a></li>
                <li><a href="products" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>OxiClean</a></li>
                <li><a href="products" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Roto Sweep</a></li>
                <li><a href="products" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>Sani Sticks</a></li>
                <li><a href="products" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Scrub Daddy</a></li>
                <li><a href="products" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>Shamwow!</a></li>
                <li><a href="products" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>True Touch</a></li>
            </ul>
        </li>
        <li><a href="product_details" th:href="@{'/products/4'}">HARDWARE</a></li>
        <li class="subMenu">
            <ul style="display:none">
                <li><a href="products" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>Flex Tape</a></li>
                <li><a href="products" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Hercules Hooks</a></li>
                <li><a href="products" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>Mighty Putty</a></li>
                <li><a href="products" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Pop-it 4 tier</a></li>
                <li><a href="products" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>Pressure Joe</a></li>
                <li><a href="products" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Rodent Sheriff</a></li>
                <li><a href="products" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Zapp Light</a></li>
            </ul>
        </li>
        <li><a href="product_details" th:href="@{'/products/5'}">HEALTH & BEAUTY</a></li>
        <li class="subMenu">
            <ul style="display:none">
                <li><a href="products" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Bowflex</a></li>
                <li><a href="products" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>GLH Hair System</a></li>
                <li><a href="products" th:href="@{'/products/1'}"><i class="icon-chevron-right"></i>Hawaii Chair</a></li>
                <li><a href="products" th:href="@{'/products/2'}"><i class="icon-chevron-right"></i>InStyler Max 2</a></li>
                <li><a href="products" th:href="@{'/products/3'}"><i class="icon-chevron-right"></i>Kush</a></li>
                <li><a href="products" th:href="@{'/products/4'}"><i class="icon-chevron-right"></i>Rejuvenique Electic Facial</a></li>
                <li><a href="products" th:href="@{'/products/5'}"><i class="icon-chevron-right"></i>Shake Weight</a></li>
                <li><a href="products" th:href="@{'/products/6'}"><i class="icon-chevron-right"></i>Sweatin' to the Oldies</a></li>
                <li><a href="products" th:href="@{'/products/0'}"><i class="icon-chevron-right"></i>ThighMaster</a></li>
            </ul>
        </li>
    </ul>
    <br/>
    <div class="thumbnail">
        <img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" onclick="window.location.href = '/cart/2/2/d';">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" onclick="window.location.href = '/cart/2/2/d';">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" onclick="window.location.href = '/cart/2/2/d';">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" onclick="window.location.href = '/cart/2/2/d';">$222.00</a></h4>
        </div>
    </div><br/>
    <div class="thumbnail">
        <img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>
<!-- Sidebar end=============================================== -->


</body>
</html>