<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>

    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">author id</td>
        <td th:text="${author.firstName}">first name: </td>
        <td th:text="${author.lastName}">last name: </td>
    </tr>
</table>

</body>
</html>