<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Bootstrap style -->
	<link href="../../static/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>
	<link href="../../static/css/base.css"
		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>
	<!-- Bootstrap style responsive -->
	<link href="../../static/css/bootstrap-responsive.min.css"
		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
	<link href="../../static/css/font-awesome.css"
		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
	<!-- Google-code-prettify -->

	<!--<link href="../js/google-code-prettify/prettify.css"
          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>-->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>


</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div id="header">
	<div class="container">
		<div id="welcomeLine" class="row">
			<div class="span6">Welcome!<strong> User</strong></div>
			<div class="span6">
				<div class="pull-right">
					<span class="btn btn-mini">$0.00</span>
					<a href="product_summary" th:href="@{'/product_summary'}"><span class="btn btn-mini btn-primary">
						<i class="icon-shopping-cart icon-white"></i> [ 0 ] Itemes in your cart </span> </a>
				</div>
			</div>
		</div>
		<!-- Navbar ================================================== -->
		<div id="logoArea" class="navbar">
			<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-inner">
				<a class="brand" href="/products"  th:href="@{'/products/0'}"><img src="/images/logo.png" alt="Bootsshop"/></a>
				<form class="form-inline navbar-search" method="post" action="products" >
					<input id="srchFld" class="srchTxt" type="text" />
					<select class="srchTxt">
						<option th:href="@{'/products/0'}">ACCESSORIES </option>
						<option th:href="@{'/products/1'}">APPLIANCES </option>
						<option th:href="@{'/products/2'}">CLEANING </option>
						<option th:href="@{'/products/3'}">HARDWARE </option>
						<option th:href="@{'/products/4'}">HEATH & BEAUTY </option>
						<option th:href="@{'/products/5'}">HOMEWARES </option>
						<option th:href="@{'/products/6'}">TOYS </option>
					</select>
					<button type="submit" id="submitButton" class="btn btn-primary">Go</button>
				</form>
				<ul id="topMenu" class="nav pull-right">
					<li class=""><a href="index"  th:href="@{'/products/0'}">Home</a></li>
					<li class=""><a href="special_offer"  th:href="@{'/special_offer'}">Specials Offers</a></li>
					<li class=""><a href="contact" th:href="@{'/contact'}">Contact</a></li>
					<li class=""><a href="register" th:href="@{'/register'}">Register</a></li>
					<li class="">
						<a href="#login" th:href="@{'/#login'}" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
						<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3>Login Block</h3>
							</div>
							<div class="modal-body">
								<form class="form-horizontal loginFrm" th:object="${LoginForm}" th:action="@{/loginnav}" method="post">
									<div class="control-group">
										<input type="text" id="inputEmail" placeholder="username"  th:field="*{userName}">
									</div>
									<div class="control-group">
										<input type="password" id="inputPassword" placeholder="Password" th:field="*{passwordPlain}">
									</div>
									<div class="control-group">
										<label class="checkbox">
											<input type="checkbox"> Remember me
										</label>
									</div>
								</form>
								<button type="submit" class="btn btn-success">Sign in</button>
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
		<hr class="soften">
		<h1>Visit us</h1>
		<hr class="soften"/>
		<div class="row">
			<div class="span4">
				<h4>Contact Details</h4>
				<p>	LIFO-As Seen On TV<br/>
				<p>	2350 Broadhollow Road,<br/>
				<p> Farmingdale, NY 11735-1021, USA
					<br/><br/>
					lifo@gmail.com.com<br/>
					﻿Tel 123-456-6780<br/>
					Fax 123-456-5679<br/>
					lifo.com
				</p>
			</div>

			<div class="span4">
				<h4>Opening Hours</h4>
				<h5> Monday - Friday</h5>
				<p>09:00am - 09:00pm<br/><br/></p>
				<h5>Saturday</h5>
				<p>09:00am - 07:00pm<br/><br/></p>
				<h5>Sunday</h5>
				<p>12:30pm - 06:00pm<br/><br/></p>
			</div>
			<div class="span4">
				<h4>Email Us</h4>
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">

							<input type="text" placeholder="name" class="input-xlarge"/>

						</div>
						<div class="control-group">

							<input type="text" placeholder="email" class="input-xlarge"/>

						</div>
						<div class="control-group">

							<input type="text" placeholder="subject" class="input-xlarge"/>

						</div>
						<div class="control-group">
							<textarea rows="3" id="textarea" class="input-xlarge"></textarea>

						</div>

						<button class="btn btn-large" type="submit">Send Messages</button>

					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<iframe style="width:100%; height:300; border: 0px" scrolling="no" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14&amp;output=embed"></iframe><br />
				<small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div>
	</div>
	<!-- MainBody End ============================= -->
	<!-- Footer section start =============================================== -->
	<div class="container" th:replace="fragments/footer :: footer">
	</div>
	<!-- Footer section end =============================================== -->

	<!-- Site script section start =============================================== -->
	<div class="container" th:replace="fragments/sitescripts :: sitescripts">
	</div>
	<!-- Site script section end =============================================== -->


</body>
</html>