<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Customer Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Customer Details</h2>
    <div>
        <form class="form-horizontal" th:object="${registrationForm}" th:action="@{/register}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('pFirstName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10 ">
                    <input type="text" class="form-control" th:field="*{pFirstName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pFirstName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('pLastName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{pLastName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pLastName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('pEmail')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{pEmail}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pEmail')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('pPassword')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{pPassword}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pPassword')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <!-- future put a password confirmation in -->


            <div class="form-group" th:class="${#fields.hasErrors('pDoB')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Date of Birth:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{pDoB}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pDoB')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aFirstName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aFirstName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aFirstName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aLastName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aLastName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aLastName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aCompany')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Company:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aCompany}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCompany')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aAddress')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Address line one:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aAddress}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aAddress')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aAddress2')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Address line two:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aAddress2}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aAddress2')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aCity')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aCity}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCity')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aState')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">State:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aState}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCity')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aZip')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Zip:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aZip}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aZip')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aCountry')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Country:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aCountry}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCountry')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aAdditionalInfo')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Additional Info:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aAdditionalInfo}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aAdditionalInfo')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aHomePhone')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Home Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aHomePhone}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aHomePhone')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('aMobilePhone')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Mobile Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{aMobilePhone}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aMobilePhone')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
