<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
		<h1>FAQ</h1>
		<hr class="soften"/>
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						How long will it take for me to receive my item(s)?
					</a></h4>
				</div>
				<div id="collapseOne" class="accordion-body collapse"  >
					<div class="accordion-inner">
						For standard shipping, you should receive your order within 4-5 business days.

					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						How can I check the status of my order?
					</a></h4>
				</div>
				<div id="collapseTwo" class="accordion-body collapse"  >
					<div class="accordion-inner">
						Please contact customer service.
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						How do I return my order?
					</a></h4>
				</div>
				<div id="collapseThree" class="accordion-body collapse"  >
					<div class="accordion-inner">
						Returns and exchanges are accepted for all items within 30 days of purchase. Please contact customer service to initiate the returns process.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
						What do I do if my order is damaged?
					</a></h4>
				</div>
				<div id="collapseFour" class="accordion-body collapse"  >
					<div class="accordion-inner">
						We are so sorry to hear that your order arrived in less than pristine condition! Please let us make it right. Our customer service team will be more than happy to assist with processing a replacement order or issuing a refund. You should contact our customer service team to begin the refund/exchange process.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
						Why did I only receive part of my order?
					</a></h4>
				</div>
				<div id="collapseFive" class="accordion-body collapse"  >
					<div class="accordion-inner">
						Don't worry, it's on its way! While we do our best to ship all orders in one package, there are times when orders will ship from multiple warehouses. If you did not receive multiple tracking numbers, please reach out to our customer service team for assistance.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
						I received the wrong goods, what do I do?
					</a></h4>
				</div>
				<div id="collapseSix" class="accordion-body collapse"  >
					<div class="accordion-inner">
						Although we strive for perfection, we are human and sometimes the wrong items are shipped from our warehouse. We are so sorry for any inconvenience this has caused and our customer service team is here to help make things right. Please contact our customer service team via phone, email, or our contact us page, so that they can work to get you your goods as soon as possible.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- MainBody End ============================= -->

<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>
<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<div class="container" th:replace="fragments/sitescripts :: sitescripts">
</div>
<!-- Site script section end =============================================== -->

</body>
</html>