<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<!--	&lt;!&ndash; Bootstrap style &ndash;&gt;-->
<!--	<link href="../../static/css/bootstrap.min.css"-->
<!--		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>-->
<!--	<link href="../../static/css/base.css"-->
<!--		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>-->
<!--	&lt;!&ndash; Bootstrap style responsive &ndash;&gt;-->
<!--	<link href="../../static/css/bootstrap-responsive.min.css"-->
<!--		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>-->
<!--	<link href="../../static/css/font-awesome.css"-->
<!--		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">-->
<!--	&lt;!&ndash; Google-code-prettify &ndash;&gt;-->

<!--	&lt;!&ndash;<link href="../js/google-code-prettify/prettify.css"-->
<!--          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>&ndash;&gt;-->

<!--	&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

<!--	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>-->


</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
		<!-- Sidebar Section Start ================================================== -->
		<div th:replace="fragments/sidebar :: sidebar">
		</div>
		<!-- Sidebar Section End =============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index" th:href="@{'/index'}">Home</a> <span class="divider">/</span></li>
		<li class="active">Forget password?</li>
    </ul>
	<h3> FORGET YOUR PASSWORD?</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Reset your password</h5><br/>
			Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">E-mail address</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Email">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Submit</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>
<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<!--<div class="container" th:replace="fragments/sitescripts :: sitescripts">-->
<!--</div>-->
<!-- Site script section end =============================================== -->

</body>
</html>