<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

    <style th:remove="all">

        body {
            color: #2b3636;
            font-family: "Proxima";
        }
        body {
            color: #333;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        *::before, *::after {
            box-sizing: border-box;
        }
        *::before, *::after {
            box-sizing: border-box;
        }
        .view-directory .course-listing {
            background-color: rgba(255, 255, 255, 0.7);
        }
        .course-listing {
            background-color: #f7f7f7;
            border: 1px solid #f1f3f0;
            border-radius: 9px;
            box-shadow: 0 1px #f1f3f0;
            cursor: pointer;
            height: 390px;
            margin-bottom: 50px;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }
        .course-listing .course-box-image-container {
            max-height: 208px;
            overflow: hidden;
        }
        .course-listing .course-box-image-container .course-box-image {
            border-bottom: 1px solid #ededed;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            display: block;
            margin: auto;
            width: 100%;
        }
        img {
            vertical-align: middle;
        }
        img {
            border: 0 none;
        }
        .course-listing .course-listing-title {
            color: #6cb44a;
            font-size: 18px;
            font-weight: bold;
            line-height: 25px;
            max-height: 70px;
            overflow: hidden;
            padding: 16px 16px 4px;
        }
        .course-listing .course-listing-subtitle {
            color: #586f6f;
            font-size: 14px;
            font-weight: 200;
            max-height: 65px;
            overflow: hidden;
            padding: 5px 16px;
        }
        .course-listing .course-listing-extra-info .course-price {
            color: #6eae50 !important;
            font-size: 15px;
            font-weight: bold;
            line-height: 34px;
            padding-right: 10px;
            text-align: right;
        }
        .course-listing .course-listing-extra-info .course-author-name {
            font-size: 15px;
            font-weight: 200;
            line-height: 30px;
            max-height: 30px;
            overflow: hidden;
            padding-left: 5px;
        }
        .course-listing .course-listing-extra-info .course-bundle {
            font-size: 15px;
            font-weight: 200;
            line-height: 30px;
        }
    </style>

</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Carousel section start ====================================================================== -->
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a href="register"><img style="width:100%" src="images/carousel/1.png" alt="special offers"/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register"><img style="width:100%" src="images/carousel/2.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register"><img src="images/carousel/3.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register"><img src="images/carousel/4.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register"><img src="images/carousel/5.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register"><img src="images/carousel/6.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<!-- Carousel section end ====================================================================== -->

<div id="mainBody">
    <div class="container">
        <div class="span9">
        <div class="row">
            <!-- Sidebar Section Start ================================================== -->
            <div th:replace="fragments/sidebar :: sidebar">
            </div>
            <!-- Sidebar Section End =============================================== -->

            <!-- Main body section start =============================================== -->

                    <div class="col-md-12">
                        <h1>Product List</h1>
                    </div>
                </div>

                <div class="row course-listing list">
                    <div class='row course-listing list'>
                        <div th:each="product,it : ${products}">
                            <div th:if="${(it.count gt 0 and it.count lt 4)}">
                                <div th:replace="fragments/productdiv :: productdiv">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row course-listing list">
                    <div class='row course-listing list'>
                        <div th:each="product,it : ${products}">
                            <div th:if="${(it.count gt 3 and it.count lt 7)}">
                                <div th:replace="fragments/productdiv :: productdiv">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row course-listing list" th:remove="all"> <!--  -->
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a href="product.html" th:href="@{/product/1}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/6.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"

                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Introduction to Spring
                                        </div>
                                        <div class="course-listing-subtitle">
                                            Introductory Course for the Spring Framework
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <img align="left" alt="Product image"
                                         img src="images/products/7.jpg"
                                         th:src="@{'/images/realproducts/'+${product.productImage}}"
                                         class="img-circle"/>
                                    <div class="small course-author-name">
                                        John Thompson
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a data-role="course-box-link" href="product.html" th:href="@{/product/4}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/8.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"
                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Spring Core
                                        </div>
                                        <div class="course-listing-subtitle">
                                            The Fundamentals of Spring Framework
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <img align="left" alt="Product image"
                                         img src="images/products/8.jpg"
                                         th:src="@{'/images/realproducts/'+${product.productImage}}"
                                         class="img-circle"/>
                                    <div class="small course-author-name">
                                        John Thompson
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small course-price">
                                        $99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a data-role="course-box-link" href="product.html" th:href="@{/product/5}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/8.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"
                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Spring Core Advanced
                                        </div>
                                        <div class="course-listing-subtitle">
                                            Advanced Topics of Spring Core
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <img align="left" alt="Product image"
                                         img src="images/products/8.jpg"
                                         th:src="@{'/images/realproducts/'+${product.productImage}}"
                                         class="img-circle"/>
                                    <div class="small course-author-name">
                                        John Thompson
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small course-price">
                                        $99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row course-listing list" th:remove="all"> <!--  -->
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a data-role="course-box-link" href="product.html" th:href="@{/product/6}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/8.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"
                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Spring Core Dev Ops
                                        </div>
                                        <div class="course-listing-subtitle">
                                            Managing and Deploying Spring Applications in the Enterprise
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <img align="left" alt="Product list"
                                         img src="images/products/8.jpg"
                                         th:src="@{'/images/realproducts/'+${product.productImage}}"
                                         class="img-circle"/>
                                    <div class="small course-author-name">
                                        John Thompson
                                    </div>

                                </div>
                                <div class="col-xs-4">
                                    <div class="small course-price">
                                        $15
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a data-role="course-box-link" href="product.html" th:href="@{/product/2}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/9.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"
                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Spring Core Ultimate
                                        </div>
                                        <div class="course-listing-subtitle">
                                            The Ulitmate Bundle of my Spring Courses
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <div class="small course-bundle">
                                        5 Course Bundle
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small course-price">
                                        $147
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="course-listing">
                            <div class="row">
                                <a data-role="course-box-link" href="product.html" th:href="@{/product/3}">
                                    <div class="col-lg-12">
                                        <div class="course-box-image-container">
                                            <img role="presentation"
                                                 img src="images/products/6.jpg"
                                                 th:src="@{'/images/realproducts/'+${product.productImage}}"
                                                 class="course-box-image"/>
                                        </div>
                                        <div class="course-listing-title">
                                            Thymeleaf
                                        </div>
                                        <div class="course-listing-subtitle">
                                            Rocking out Thymeleaf with Spring
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row course-listing-extra-info col-xs-12">
                                <div class="col-xs-8">
                                    <img align="left" alt="Product name"
                                         img src="images/products/8.jpg"
                                         th:src="@{'/images/realproducts/'+${product.productImage}}"
                                         class="img-circle"/>
                                    <div class="small course-author-name">
                                        John Thompson
                                    </div>

                                </div>
                                <div class="col-xs-4">
                                    <div class="small course-price">
                                        $15
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!-- Footer section start =============================================== -->
    <div class="container" th:replace="fragments/footer :: footer">
    </div>
    <!-- Footer section end =============================================== -->

    <!-- Site script section start =============================================== -->
    <div class="container" th:replace="fragments/sitescripts :: sitescripts">
    </div>
    <!-- Site script section end =============================================== -->
</div>
</body>
</html>