<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Carousel section start ====================================================================== -->
<div id="carouselBlk" th:replace="fragments/carousel :: carousel">
</div>
<!-- Carousel section end ====================================================================== -->

<div id="mainBody">
	<div class="container">
		<div class="row">
<!-- Sidebar Section Start ================================================== -->
	<div th:replace="fragments/sidebar :: sidebar">
	</div>
<!-- Sidebar Section End =============================================== -->

			<!-- Main body section start =============================================== -->
			<div class="span9">
				<div class="well well-small">
					<h4>Featured Products</h4>
					<div th:replace="fragments/featured_carousel :: featured_carousel">

					</div>

				</div>
				<h4>Latest Products </h4>

				<div class="thumbnails">
					<div th:each="product, it : ${products}">
						<div class="span3" th:if="${(it.count gt 0 and it.count lt 4)}">
							<div class="row" th:replace="fragments/productdiv :: productdiv">
							</div>
						</div>
					</div>
				</div>

				<div class="thumbnails">
					<div th:each="product, it : ${products}">
						<div class="span3" th:if="${(it.count gt 3 and it.count lt 7)}">
							<div class="row" th:replace="fragments/productdiv :: productdiv">
							</div>
						</div>
					</div>
				</div>

				<div class="thumbnails">
					<div th:each="product, it : ${products}">
						<div class="span3" th:if="${(it.count gt 6 and it.count lt 10)}">
							<div class="row" th:replace="fragments/productdiv :: productdiv">
							</div>
						</div>
					</div>
				</div>

			</div>   <!-- <div class="span9"> -->
			<!-- Main body section end =============================================== -->

		</div>		<!-- <div class="row"> -->
	</div>  <!--<div class="container"> -->

	<!-- Footer section start =============================================== -->
	<div class="container" th:replace="fragments/footer :: footer">
	</div>
	<!-- Footer section end =============================================== -->

	<!-- Site script section start =============================================== -->
	<div class="container" th:replace="fragments/sitescripts :: sitescripts">
	</div>
	<!-- Site script section end =============================================== -->
</div>
</body>
</html>