<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Carousel section start ====================================================================== -->
<div id="carouselBlk" th:replace="fragments/carousel :: carousel">
</div>
<!-- Carousel section end ====================================================================== -->

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar Section Start ================================================== -->
            <!-- this is where it the sidebar goes -->
            <div class="container">
                <div class="row">
                    <!-- Sidebar Section Start ================================================== -->
                    <div th:replace="fragments/sidebar :: sidebar"> <!-- should go to sidebar one-->

                    </div>

            <!-- this is where the sidebar goes -->
            <!-- Sidebar Section End =============================================== -->

            <!-- Main body section start =============================================== -->
            <div class="span9">
                <div class="well well-small">
                    <h4>Featured Products</h4>
                    <div th:replace="fragments/featured_carousel :: featured_carousel">

                    </div>

                </div>
                <div class="container" th:replace="fragments/productdiv2 :: productdiv2"></div>

            </div>   <!-- <div class="span9"> -->
            <!-- Main body section end =============================================== -->

        </div>		<!-- <div class="row"> -->
    </div>  <!--<div class="container"> -->

    <!-- Footer section start =============================================== -->
    <div class="container" th:replace="fragments/footer :: footer">
    </div>
    <!-- Footer section end =============================================== -->

    <!-- Site script section start =============================================== -->
    <div class="container" th:replace="fragments/sitescripts :: sitescripts">
    </div>
    <!-- Site script section end =============================================== -->
</div>

    </div>
</div>
</body>
</html>