<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Bootstrap style -->
	<link href="../../static/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>
	<link href="../../static/css/base.css"
		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>
	<!-- Bootstrap style responsive -->
	<link href="../../static/css/bootstrap-responsive.min.css"
		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
	<link href="../../static/css/font-awesome.css"
		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
	<!-- Google-code-prettify -->

	<!--<link href="../js/google-code-prettify/prettify.css"
          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>-->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>
</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar Section Start ================================================== -->
			<div th:replace="fragments/sidebar :: sidebar">
			</div>
			<!-- Sidebar Section End =============================================== -->

			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="index" th:href="@{'/index'}">Home</a> <span class="divider">/</span></li>
					<li class="active">Products Name</li>
				</ul>
				<h3> Products Name <small class="pull-right"> 40 products are available </small></h3>
				<hr class="soft"/>
				<p>You’ve seen ‘em… we’ve got ‘em! If you’ve ever shopped infomercials, you know that some of the best
					As Seen on TV products have the power to revolutionize your everyday life! From super-smart kitchen
					gadgets that make cooking and food prep a total breeze to unique As Seen on TV clothes and beauty products
					that make you feel fabulous, these items do a great job at reducing stress and helping you stay organized and efficient.
					From sensible accessories for pets to amazing cleaning tools, we have the best variety of As Seen on TV products in our online catalog.
				</p>
				<hr class="soft"/>
				<form class="form-horizontal span6">
					<div class="control-group">
						<label class="control-label alignL">Sort By </label>
						<select>
							<option th:href="@{'/products/asc'}">Name: A to Z</option>
							<option th:href="@{'/products/desc'}">Name: Z - A</option>
							<option th:href="@{'/products/asc/price'}">Price: low to high</option>
							<option th:href="@{'/products/desc/price'}">Price: high to low</option>
						</select>
					</div>
				</form>

				<div id="myTab" class="pull-right" >
					<a href="#listView" th:href="@{'#listView'}"data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
					<a href="#blockView" th:href="@{'#blockView'}" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
				</div>
				<br class="clr"/>
				<div class="tab-content">
					<div class="tab-pane" id="listView">
						<div th:each="product, it : ${products}">
							<div th:if="${(it.count gt 0 and it.count lt 10)}">
								<div th:replace="fragments/products_div :: products_div_list">
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane  active" id="blockView">
						<div class="thumbnails">
							<div class="span3" >
								<div th:each="product, it : ${products}">
									<div th:if="${(it.count gt 0 and it.count lt 4)}">
										<div th:replace="fragments/products_div :: products_div_grid">
											</br>
										</div>
									</div>
								</div>
							</div>

							<div class="span3">
								<div th:each="product, it : ${products}">
									<div th:if="${(it.count gt 3 and it.count lt 7)}">
										<div th:replace="fragments/products_div :: products_div_grid">
											</br>
										</div>
									</div>
								</div>
							</div>

							<div class="span3">
								<div th:each="product, it : ${products}">
									<div th:if="${(it.count gt 6 and it.count lt 10)}">
										<div th:replace="fragments/products_div :: products_div_grid">
											</br>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>
<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<div class="container" th:replace="fragments/sitescripts :: sitescripts">
</div>
<!-- Site script section end =============================================== -->
<!-- Site script section end =============================================== -->


</body>
</html>