<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Bootstrap style -->
	<link href="../../static/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>
	<link href="../../static/css/base.css"
		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>
	<!-- Bootstrap style responsive -->
	<link href="../../static/css/bootstrap-responsive.min.css"
		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
	<link href="../../static/css/font-awesome.css"
		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
	<!-- Google-code-prettify -->

	<!--<link href="../js/google-code-prettify/prettify.css"
          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>-->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>


</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
		<!-- Sidebar Section Start ================================================== -->
		<div th:replace="fragments/sidebar :: sidebar">
		</div>
		<!-- Sidebar Section End =============================================== -->

	<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index" th:href="@{'/index'}">Home</a> <span class="divider">/</span></li>
    <li><a href="products" th:href="@{'/products'}">Products</a> <span class="divider">/</span></li>
    <li class="active">product Details</li>
    </ul>

		<div class="row">
			<div id="gallery" class="span3">
				<a href="/images/products/large/f1.jpg" th:src="@{'/images/realproducts/'+${product.productImage}}" th:title="${product.productName}" title="">
					<img src="/images/products/large/3.jpg"  th:src="@{'/images/realproducts/'+${product.productImage}}" style="width:100%" th:alt="${product.productName}" alt="Fujifilm FinePix S2950 Digital Camera"/>
				</a>

			</div>
			<div class="span6">
				<h3 th:text="${product.productName}">Fujifilm FinePix S2950 Digital Camera  </h3>
				<small th:text="${product.description1.substring(0,20)}">- (14MP, 18x Optical Zoom) 3-inch LCD</small>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
					<div class="control-group">
						<label class="control-label"><span th:text="${product.productPrice}">$222.00</span></label>
						<div class="controls">
							<a href="product_details" class="btn btn-large btn-primary" th:href="@{'/cart/2/'+${product.id}+'/d'}"> Add to <i class=" icon-shopping-cart"></i></a>
						</div>
					</div>
				</form>
				<p th:text="${product.description1}">
					14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution.
					Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.
					Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).

				</p>
				<hr class="soft"/>
			</div>

			<div class="span9">
				<ul id="productDetail" class="nav nav-tabs">
					<li class="active"><a href="#home" th:href="@{'/products/0'}" data-toggle="tab">Product Details</a></li>
					<li><a href="#profile" th:href="@{'/products/0'}" data-toggle="tab">Related Products</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="home">
						<h4>Product Information</h4>
						<table class="table table-bordered">
							<tbody>
							<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2" th:text="${product.productName}">Fujifilm</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2" th:text="${product.getDescription2().substring(0,8)}">FinePix S2950HD</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2" th:text="${product.getDescription2().substring(9,15)}"> 2011-01-28</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2" th:text="${product.getProductDimensions()}"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
							</tbody>
						</table>

						<h5>Features</h5>
						<p th:text="${product.getDescription1()}">
							14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).<br/>
							OND363338
						</p>

						<h4>Editorial Reviews</h4>
						<h5 >Manufacturer's Description </h5>
						<p th:text="${product.getDescription2()}">
							With a generous 18x Fujinon optical zoom lens, the S2950 really packs a punch, especially when matched with its 14 megapixel sensor, large 3.0" LCD screen and 720p HD (30fps) movie capture.
						</p>

						<h5>Additional Details</h5>
						<p th:text="${product.getDescription3()}">
							The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens. Simple to operate with an electric powered zoom lever, the huge zoom range means that you can capture all the detail, even when you're at a considerable distance away. You can even operate the zoom during video shooting. Unlike a bulky D-SLR, bridge cameras allow you great versatility of zoom, without the hassle of carrying a bag of lenses.
						</p>
						<h5>Impressive Features</h5>
						<p th:text="${product.getDescription4()}">
							With its easy to use Panoramic shooting mode you can get creative on the S2950, however basic your skills, and rest assured that you will not risk shooting uneven landscapes or shaky horizons. The camera enables you to take three successive shots with a helpful tool which automatically releases the shutter once the images are fully aligned to seamlessly stitch the shots together in-camera. It's so easy and the results are impressive.
						</p>

						<h5>Additional Details</h5>
						<p th:text="${product.getDescription2()}">
							Even at the longest zoom settings or in the most challenging of lighting conditions, the S2950 is able to produce crisp, clean results. With its mechanically stabilised 1/2 3", 14 megapixel CCD sensor, and high ISO sensitivity settings, Fujifilm's Dual Image Stabilisation technology combines to reduce the blurring effects of both hand-shake and subject movement to provide superb pictures.
						</p>
					</div>
					<div class="tab-pane fade" id="profile">
						<div id="myTab" class="pull-right">
							<a href="#listView" th:href="@{'/#listView'}" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
							<a href="#blockView" th:href="@{'/#blockView'}"data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
						</div>
						<br class="clr"/>
						<hr class="soft"/>
						<div class="tab-content">
							<div class="tab-pane" id="listView">
								<div class="row">
									<div class="span2">
										<img src="/images/products/4.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details" th:href="@{'/product_details'}"class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft"/>
								<div class="row">
									<div class="span2">
										<img src="/images/products/5.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}"class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details" th:href="@{'/product_details'}"class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft"/>
								<div class="row">
									<div class="span2">
										<img src="/images/products/6.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}"class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details" th:href="@{'/product_details'}"class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft"/>
								<div class="row">
									<div class="span2">
										<img src="/images/products/7.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>

								<hr class="soft"/>
								<div class="row">
									<div class="span2">
										<img src="/images/products/8.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details"  th:href="@{'/product_details'}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft"/>
								<div class="row">
									<div class="span2">
										<img src="/images/products/9.jpg" alt=""/>
									</div>
									<div class="span4">
										<h3>New | Available</h3>
										<hr class="soft"/>
										<h5>Product Name </h5>
										<p>
											Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
											that is why our goods are so popular..
										</p>
										<a class="btn btn-small pull-right" href="product_details" th:href="@{'/product_details'}">View Details</a>
										<br class="clr"/>
									</div>
									<div class="span3 alignR">
										<form class="form-horizontal qtyFrm">
											<h3> $222.00</h3>
											<label class="checkbox">
												<input type="checkbox">  Adds product to compare
											</label><br/>
											<div class="btn-group">
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
												<a href="product_details" th:href="@{'/product_details'}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
											</div>
										</form>
									</div>
								</div>
								<hr class="soft"/>
							</div>
							<div class="tab-pane active" id="blockView">
								<ul class="thumbnails">
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/10.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" th:href="@{'/product_details'}" href="product_details"> <i class="icon-zoom-in"></i></a>
													<a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/11.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" href="product_details" th:href="@{'/product_details'}">
													<i class="icon-zoom-in"></i></a> <a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart"></i></a>
													<a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/12.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" href="product_details" th:href="@{'/product_details'}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart">

												</i></a> <a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/13.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" href="product_details" th:href="@{'/product_details'}">
													<i class="icon-zoom-in"></i></a> <a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart"></i></a>
													<a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/1.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" href="product_details" th:href="@{'/product_details'}">
													<i class="icon-zoom-in"></i></a> <a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart"></i></a>
													<a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<a href="product_details" th:href="@{'/product_details'}"><img src="/images/products/2.jpg" alt=""/></a>
											<div class="caption">
												<h5>Manicure &amp; Pedicure</h5>
												<p>
													Lorem Ipsum is simply dummy text.
												</p>
												<h4 style="text-align:center"><a class="btn" href="product_details" th:href="@{'/product_details'}">
													<i class="icon-zoom-in"></i></a> <a class="btn" href="#" th:href="@{'/#'}">Add to <i class="icon-shopping-cart"></i></a>
													<a class="btn btn-primary" href="#" th:href="@{'/#'}">&euro;222.00</a></h4>
											</div>
										</div>
									</li>
								</ul>
								<hr class="soft"/>
							</div>
						</div>
						<br class="clr">
					</div>
				</div>
			</div>

<!--	<div class="row">	  -->
<!--			<div id="gallery" class="span3">-->
<!--            <a href="/images/products/large/f1.jpg" title="Fujifilm FinePix S2950 Digital Camera">-->
<!--				<img src="/images/products/large/3.jpg" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera"/>-->
<!--            </a>-->
<!--			</div>-->
<!--			<div class="span6">-->
<!--				<h3 th:text="${product.productName}">Fujifilm FinePix</h3>-->
<!--				<hr class="soft"/>-->
<!--				<form class="form-horizontal qtyFrm">-->
<!--				  <div class="control-group">-->
<!--					<label class="control-label"><span th:text="${product.id.productPrice}">$0.00</span></label>-->
<!--					<div class="controls">-->
<!--					<input type="number" class="span1" placeholder="Qty."/>-->
<!--					  <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>-->
<!--					</div>-->
<!--				  </div>-->
<!--				</form>-->

<!--				<hr class="soft clr"/>-->
<!--				<p th:text="${product.description1}">-->
<!--				14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution.-->
<!--				</p>-->
<!--				</br>-->
<!--			</div>-->
<!--			-->
<!--			<div class="span9">-->

<!--            <div id="myTabContent" class="tab-content">-->
<!--              <div class="tab-pane fade active in" id="home">-->
<!--			  <h4>Product Information</h4>-->
<!--                <table class="table table-bordered">-->
<!--				<tbody>-->
<!--				<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>-->
<!--				<tr class="techSpecRow"><td class="techSpecTD1">Product Name:</td><td class="techSpecTD2" th:text="${product.productName}">FinePix S2950HD</td></tr>-->
<!--				<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2" th:text="${product.productDimensions}"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>-->
<!--				</tbody>-->
<!--				</table>-->

<!--				<h5>Features</h5>-->
<!--				<p th:text="${product.description1}">-->
<!--				14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. <br/>-->
<!--				</p>-->

<!--				<p th:text="${product.description2}">-->
<!--				With a generous 18x Fujinon optical zoom lens,-->
<!--				</p>-->


<!--				<p th:text="${product.description3}">-->
<!--				The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens.-->
<!--				</p>-->

<!--				<p th:text="${product.description4}">-->
<!--				With its easy to use Panoramic shooting mode you can get creative on the S2950,-->
<!--				</p>-->

<!--              </div>-->
<!--		</div>-->

<!--          </div>-->

<!--	</div>-->
<!--			-->
</div>
</div> </div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>

<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<div class="container" th:replace="fragments/sitescripts :: sitescripts">
</div>
<!-- Site script section end =============================================== -->
	

</body>
</html>