<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<!--	&lt;!&ndash; Bootstrap style &ndash;&gt;-->
<!--	<link href="../../static/css/bootstrap.min.css"-->
<!--		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>-->
<!--	<link href="../../static/css/base.css"-->
<!--		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>-->
<!--	&lt;!&ndash; Bootstrap style responsive &ndash;&gt;-->
<!--	<link href="../../static/css/bootstrap-responsive.min.css"-->
<!--		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>-->
<!--	<link href="../../static/css/font-awesome.css"-->
<!--		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">-->
<!--	&lt;!&ndash; Google-code-prettify &ndash;&gt;-->

<!--	&lt;!&ndash;<link href="../js/google-code-prettify/prettify.css"-->
<!--          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>&ndash;&gt;-->

<!--	&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

<!--	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>-->


</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
		<!-- Sidebar Section Start ================================================== -->
		<div th:replace="fragments/sidebar :: sidebar">
		</div>
		<!-- Sidebar Section End =============================================== -->

	<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index" th:href="@{'/index'}">Home</a> <span class="divider">/</span></li>
		<span th:switch="${product?.productCat}">
			<li th:case="0">Accessories<span class="divider">/</span></li>
			<li th:case="1">Appliances<span class="divider">/</span></li>
			<li th:case="2">Cleaning<span class="divider">/</span></li>
			<li th:case="3">Hardware<span class="divider">/</span></li>
			<li th:case="4">Health & Beauty<span class="divider">/</span></li>
			<li th:case="5">Homewares<span class="divider">/</span></li>
			<li th:case="6">Toys<span class="divider">/</span></li>
		</span>

		<li class="active" th:text="${product?.productName}">product Details</li>
		</span>

    </ul>

	<div class="row">
            <div class="span3" >
<!--                <a th:src="@{'/images/realproducts/'+${product?.productImage}}" th:title="${product?.productName}" title="">-->
                    <img class="zoom" th:src="@{'/images/realproducts/'+${product?.productImage}}" style="width:100%" th:alt="${product?.productName}" alt=""/>
<!--                </a>-->

            </div>
			<div class="span6">
				<h3 th:text="${product?.productName}">Fujifilm FinePix</h3>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
				  <div class="control-group pull-right">
					  <h4 style="text-align: center">
						  <a href="product_details" class="btn btn-primary" th:href="@{'/cart/2/'+${product.id}+'/d'}"> Add to cart <i class=" icon-shopping-cart"></i></a>
						  <a href="product_details" class="btn" th:href="@{'/cart/2/'+${product.id}+'/d'}" >$<span th:text="${product.productPrice}"></span></a>
<!--						  <button type="submit" class="btn btn-primary" th:href="@{'/cart/2/'+${product.id}+'/d'}">Add to cart <i class="icon-shopping-cart" ></i></button>-->
<!--						  <button type="submit" class="btn" th:href="@{'/cart/2/'+${product.id}+'/d'}" th:text="${product.productPrice}">$222.00</button>-->
					  </h4>
				  </div>
				</form>

				<hr class="soft clr"/>
				<p th:text="${product?.getDescription1()}">
					14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen.
				</p>
				<p th:text="${product?.getDescription2()}">
					14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen.
				</p>
				</br>
			</div>

			<div class="span9">

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Product Information</h4>
                <table class="table table-bordered">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Product Name:</td><td class="techSpecTD2" th:text="${product?.getProductName()}">FinePix S2950HD</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2" th:text="${product?.getProductDimensions()}"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
				</tbody>
				</table>

				<h5>Features</h5>
<!--				<p th:text="${product?.getDescription2()}">-->
<!--				With a generous 18x Fujinon optical zoom lens,-->
<!--				</p>-->
<!--                  <br/>-->

				<p th:text="${product?.getDescription3()}">
				The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens.
				</p>
                  <br/>
				<p th:text="${product?.getDescription4()}">
				With its easy to use Panoramic shooting mode you can get creative on the S2950,
				</p>

              </div>
		</div>

          </div>

	</div>

</div>
</div> </div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>

<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<!--<div class="container" th:replace="fragments/sitescripts :: sitescripts">-->
<!--</div>-->
<!-- Site script section end =============================================== -->
	

</body>
</html>