<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Bootstrap style -->
	<link href="../../static/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.min.css}" id="callCss" rel="stylesheet" type="text/css" media="all"/>
	<link href="../../static/css/base.css"
		  th:href="@{/css/base.css}" rel="stylesheet" media="screen"/>
	<!-- Bootstrap style responsive -->
	<link href="../../static/css/bootstrap-responsive.min.css"
		  th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
	<link href="../../static/css/font-awesome.css"
		  th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
	<!-- Google-code-prettify -->

	<!--<link href="../js/google-code-prettify/prettify.css"
          th:href="@{js/google-code-prettify/prettify.css}" rel="stylesheet"/>-->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="/webjars/jquery/3.3.1-2 /jquery.js"></script>


</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar Section Start ================================================== -->
			<div th:replace="fragments/sidebar :: sidebar">
			</div>
			<!-- Sidebar Section End =============================================== -->

			<div class="span7" align="center" th:align="center">
				<ul class="breadcrumb">
					<li><a href="index" th:href="@{'/index'}">Home</a> <span class="divider">/</span></li>
					<li class="active">Registration</li>
				</ul>
				<h3> Account info </h3>
				<h5> Required *</h5>
				<div class="well">

					<form class="form-horizontal" th:object="${registrationForm}" th:action="@{/register}" method="post">

						<!--						<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
						<!--							<p >One or more fields are invalid</p>-->
						<!--						</div>-->

						<div class="control-group">
							<label class="control-label">Username :*</label>
							<div class="form-control">
								<input type="text" th:field="*{username}" class="required"  id="username"
									   placeholder="Your Username"/>
								<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Password :*</label>
							<div class="form-control">
								<input type="password" th:field="*{passwordPlain}" class="required"  id="password"
									   placeholder="Enter Password"/>
								<span th:if="${#fields.hasErrors('passwordPlain')}" th:errors="*{passwordPlain}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Confirm Password :*</label>
							<div class="form-control">
								<input type="password" th:field="*{passwordConformation}" class="required"  id="passwordconfirm"
									   placeholder="Enter Password"/>
								<span th:if="${#fields.hasErrors('passwordConformation')}" th:errors="*{passwordConformation}"
									  class="alert alert-danger"></span>
							</div>
						</div>


						<div class="control-group">
							<label class="control-label">First Name :*</label>
							<div class="form-control">
								<input type="text" th:field="*{pFirstName}" class="required"  id="pFirstName"
									   placeholder="Your First Name"/>
								<span th:if="${#fields.hasErrors('pFirstName')}" th:errors="*{pFirstName}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Last Name :*</label>
							<div class="form-control">
								<input type="text" th:field="*{pLastName}" class="required"  id="pLastName"
									   placeholder="Your Last Name"/>
								<span th:if="${#fields.hasErrors('pLastName')}" th:errors="*{pLastName}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Email :*</label>
							<div class="form-control">
								<input type="text" th:field="*{pEmail}" class="required"  id="pEmail"
									   placeholder="Your Email"/>
								<span th:if="${#fields.hasErrors('pEmail')}" th:errors="*{pEmail}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Date of Birth : </label>
							<div class="form-control">
								<input type="text" th:field="*{pDoB}" class="required" id="pDob" placeholder="DOB 01/01/2000"/>
								<span th:if="${#fields.hasErrors('pDoB')}" th:errors="*{pDoB}" class="alert alert-danger">
								</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Address :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aAddress}" class="required" id="aAddress" placeholder="Your Address"/>
								<span th:if="${#fields.hasErrors('aAddress')}" th:errors="*{aAddress}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Address 2 : </label>
							<div class="form-control">
								<input type="text" th:field="*{aAddress2}"  id="aAddress2" placeholder="Your Address 2"/>
								<!--							<span th:if="${#fields.hasErrors('aAddress2')}" th:errors="*{aAddress2}" class="alert alert-danger">-->
								<!--							</span>-->
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">City :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aCity}" class="required" id="aCity" placeholder="Your City"/>
								<span th:if="${#fields.hasErrors('aCity')}" th:errors="*{aCity}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">State :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aState}" class="required" id="aState" placeholder="Your State"/>
								<span th:if="${#fields.hasErrors('aState')}" th:errors="*{aState}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Zip :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aZip}" class="required" id="aZip" placeholder="Your Zip"/>
								<span th:if="${#fields.hasErrors('aZip')}" th:errors="*{aZip}" class="alert alert-danger">
							</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Country : </label>
							<div class="form-control">
								<input type="text" th:field="*{aCountry}" id="aCountry" placeholder="Your Country"/>
								<!--							<span th:if="${#fields.hasErrors('aCountry')}" th:errors="*{aCountry}" class="alert alert-danger">-->
								<!--							</span>-->
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Home Phone :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aHomePhone}" class="required" id="aHomePhone" placeholder="Your Phone"/>
								<span th:if="${#fields.hasErrors('aHomePhone')}" th:errors="*{aHomePhone}" class="alert alert-danger">
								</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Mobile Phone :* </label>
							<div class="form-control">
								<input type="text" th:field="*{aMobilePhone}" class="required" id="aMobilePhone" placeholder="Your Phone"/>
								<span th:if="${#fields.hasErrors('aMobilePhone')}" th:errors="*{aMobilePhone}" class="alert alert-danger">
								</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Additional Information : </label>
							<div class="form-control">
							<textarea rows="4" class="span3" th:field="*{aAdditionalInfo}" id="aAdditionalInfo"
									  placeholder="Optional Additional Information"/>
							</div>
						</div>

						<div class="form-control" align="center">
							<div class="dresbutton">
								<button type="submit" width="50" height="50" th:align="center" th:width="50" th:height="50">Submit</button>
							</div>
						</div>

					</form>


				</div>

			</div>
		</div>
	</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>
<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<div class="container" th:replace="fragments/sitescripts :: sitescripts">
</div>
<!-- Site script section end =============================================== -->

</body>
</html>