<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<!-- Navigation section start ====================================================================== -->
<div th:replace="fragments/navigation :: navigation">
</div>
<!-- Navigation section end ====================================================================== -->

<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar Section Start ================================================== -->
			<div th:replace="fragments/sidebar :: sidebar">
			</div>
			<!-- Sidebar Section End =============================================== -->

			<div class="span7" align="center" th:align="center">
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a> <span class="divider">/</span></li>
					<li class="active">Registration</li>
				</ul>
				<h3> Account info </h3>
				<h5> Required *</h5>
				<div class="well">

					<form class="form-horizontal" th:object="${registrationForm}" th:action="@{/register}" method="post">

						<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<p >One or more fields are invalid</p>
						</div>

						<div class="form-group"  th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">User Name: *	</label>
							<div class="col-sm-10 ">
								<input type="text" class="form-control" th:field="*{username}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pFirstName')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group"  th:class="${#fields.hasErrors('passwordPlain')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Enter password: *	</label>
							<div class="col-sm-10 ">
								<input type="text" class="form-control" th:field="*{passwordPlain}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('passwordPlain')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group"  th:class="${#fields.hasErrors('passwordConformation')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Confirm password: *	</label>
							<div class="col-sm-10 ">
								<input type="text" class="form-control" th:field="*{passwordConformation}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('passwordConformation')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('pEmail')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Email: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{pEmail}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pEmail')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group"  th:class="${#fields.hasErrors('pFirstName')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">First Name: *	</label>
							<div class="col-sm-10 ">
								<input type="text" class="form-control" th:field="*{pFirstName}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pFirstName')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('pLastName')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Last Name: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{pLastName}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pLastName')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>



						<div class="form-group" th:class="${#fields.hasErrors('pDoB')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Date of Birth: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{pDoB}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('pDoB')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>



						<div class="form-group" th:class="${#fields.hasErrors('aAddress')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Address line one: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aAddress}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aAddress')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aAddress2')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Address line two:	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aAddress2}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aAddress2')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aCity')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">City: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aCity}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCity')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aState')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">State: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aState}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aState')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aZip')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Zip: *	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aZip}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aZip')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aCountry')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Country:	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aCountry}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aCountry')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Additional Info:	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aAdditionalInfo}"/>

								<span class="help-block">
                       <ul>

                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aHomePhone')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Home Phone:	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aHomePhone}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aHomePhone')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>

						<div class="form-group" th:class="${#fields.hasErrors('aMobilePhone')} ? 'form-group has-error' : 'form-group'">
							<label class="col-sm-2 control-label">Mobile Phone:	</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{aMobilePhone}" th:errorclass="has-error"/>

								<span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('aMobilePhone')}" th:text="${err}" />
                       </ul>
                    </span>
							</div>
						</div>


						<div class="span6" align="center">
							<div class="dresbutton">
								<button type="submit" width="50" height="50" th:align="center" th:width="50" th:height="50">Submit</button>
							</div>
						</div>



					</form>


				</div>

			</div>
		</div>
	</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer section start =============================================== -->
<div class="container" th:replace="fragments/footer :: footer">
</div>
<!-- Footer section end =============================================== -->

<!-- Site script section start =============================================== -->
<div class="container" th:replace="fragments/sitescripts :: sitescripts">
</div>
<!-- Site script section end =============================================== -->

</body>
</html>